metadata {
    background-color: #ACACAC;
    display: block;
    border-style: solid;
    border-width: 1px;
}


person {
    background-color: rgba(255,165,0,0.7); /* orange with 70% opacity */
}


popupWithMultipleSelection:before {
    content: oxy_popup(
    edit, '@relationship_to_sb',
    selectionMode, 'multiple',
    color, inherit,
    rendererSort, 'ascending',
    );
}

place {
    background-color: rgba(0,255,0,0.5); /* green with 50% opacity */
}

organization {
    background-color: rgba(255,0,0,0.5); /* red with 50% opacity */ 
}

work {
    background-color: rgba(0,255,255,0.5); /* aqua with 50% opacity */
}

other {
    background-color: rgba(102,51,153,0.3); /* purple with 30% opacity */
    opacity: 0.5;
}

p { 
  display: block;
}

/* <hi> rend values */

hi[rend="typewriter"] {
    font-family:monospace;
}

hi[rend="normalweight"]{
    font-weight:normal;
}


hi[rend="smallcaps"]{
    font-variant:small-caps;
}

hi[rend="bold"]{
    font-weight:bold;
}

hi[rend="italic"]{
    font-style:italic;
}

hi[rend="allcaps"]{
    text-transform:uppercase;
}

hi[rend="strikethrough"]{
    text-decoration:line-through;
}

hi[rend="doublestrikethrough"]{
    text-decoration:line-through;
}

hi[rend="underline"]{
    text-decoration:underline;
}

hi[rend="wavyunderline"]{
    text-decoration-line:underline;
    text-decoration-style:wavy;
}

hi[rend="doubleunderline"]{
    text-decoration:underline;
}

hi[rend="superscript"]{
    vertical-align:super;
    font-size:smaller;
}

hi[rend="subscript"]{
    vertical-align:bottom;
    font-size:smaller;
}

hi[rend="numberParagraph"]:before{
    content:"[";
}

hi[rend="numberParagraph"]:after{
    content:"] ";
}

hi[rend="numberParagraph"]{
    font-size:smaller;
    color:grey;
}




